.App {
  text-align: center;
}
.chat-message{
  background-color:rgb(173, 190, 221);
  margin: 1em 25em;
  border-radius: 5px;
  padding: 1em;
  max-height: 450px;
  overflow-y: auto;
}
.message-right{
  background: rgb(108, 230, 230);
  border-radius: 10px;
  padding:3px 5px;
  margin: 1em;
}
.message-left{
  background:aliceblue;
  border-radius: 5px;
  padding: 0em 1em important;
  margin: 1em;
}
.message-text{
  font-size: 17px;
}
.message-icon{
  font-size: 25px;
  margin: 5px;
}
@media only screen and (min-width: 600px){
  
}